/* #region main */

body {
  background-color: #ffffff;
  font-family: "Roboto", "Raleway", sans-serif;
  color: #2e2f42;
}
a {
  text-decoration: none;
  display: block;
}
ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
img {
  display: block;
}
input {
  padding: 0;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.burger-menu {
  display: none;
}

/* #endregion main */

/* #region header */
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header > .container {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 149px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  padding: 16px 0;
}

.logo-piece {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.nav-list {
  display: none;
}

.list-items {
  display: none;
}

.list-items.first {
  color: #404bbf;
}

.list-items.first::after {
  position: absolute;
  width: 100%;
  content: "";
  display: block;
  border-radius: 2px;
  height: 4px;
  background: #404bbf;
  bottom: -1px;
}

.contacts-list {
  display: none;
}

/* #endregion header */

/* #region section-first */

.section-first {
  margin: 0 auto;
  max-width: 320px;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/mobile/background-mob.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  max-width: 216px;
  margin-bottom: 72px;
}

.button {
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* #endregion section-first */

/* #region section-second */

.section-second {
  padding: 96px 0;
}

.section-second-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.section-second-list-container {
  display: none;
}

.section-second-items {
  width: 100%;
}
.title-third {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.items-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion section-second */

/* #region section-third */

.section-third {
  padding: 96px 0;
  background-color: #f4f4fd;
}

.section-third > .container {
  padding: 0 28px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-list {
  row-gap: 72px;
  display: flex;
  flex-wrap: wrap;
}

.section-third-items {
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section-third-container {
  padding: 32px 0;
}

.section-items-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.section-items-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.section-third-item-list {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}
.section-third-items-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-third-items-social:hover,
.section-third-items-social:focus {
  background-color: #404bbf;
}
.section-third-icon {
  fill: #f4f4fd;
}
.section-third-item {
  margin: 0;
}

/* #endregion section-third */

/* #region section-fourth */

.section-fourth {
  padding: 96px 0;
}

.section-list-fourth {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.section-fourth-items {
  width: 100%;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section-fourth-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-fourth-overlay-container {
  position: relative;
  overflow: hidden;
}
.section-fourth-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.section-fourth-items:hover .section-fourth-overlay {
  transform: translateY(0);
}

.fourth-item-content {
  text-align: start;
}

/* #endregion section-fourth */

/* #region footer */

.footer {
  background: #2e2f42;
  padding: 96px 0;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #f4f4fd;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: start;
}
.footer > .container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.footer-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.footer-head {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.container-in-footer-first {
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
}
.container-in-footer-second {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-list-a {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-a:hover,
.footer-list-a:focus {
  background-color: #31d0aa;
}

.footer-list-icon {
  fill: #f4f4fd;
}

.footer-subscribe-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-subscribe-elements-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
}
.footer-subscribe-input {
  padding-left: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  min-width: 288px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-subscribe-input::placeholder {
  color: #fff;
}
.footer-subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 24px;
  max-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
}

.footer-subscribe-button:hover {
  background-color: #404bbf;
}

.footer-subscribe-icon {
  margin-left: 16px;
  fill: #fff;
}

/* #endregion footer */

/* #region modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}

.modal-form {
  width: 100%;
}

.modal-exit-container {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  cursor: pointer;
}

.modal-exit-container:hover,
.modal-exit-container:focus {
  background-color: #404bbf;
  border: none;
}

.modal-exit-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-exit-container:hover .modal-exit-icon,
.modal-exit-container:focus .modal-exit-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}

.modal-input-container {
  position: relative;
  margin-bottom: 8px;
}

.modal-input-icon-container {
  position: relative;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #8e8f99;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}

.modal-form-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-size: 18px;
  border-radius: 4px;
  min-height: 40px;
  background-color: transparent;
  outline: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 34px;
  overlay: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-container {
  margin-bottom: 16px;
}

.modal-form-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  min-height: 120px;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  letter-spacing: 0.04em;
  line-height: 1.17;
  font-size: 12px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}

.modal-form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: rgba(46, 47, 66, 0.4);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: inline-flex;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-textarea:focus {
  border-color: #4d5ae5;
}

.modal-checkbox-div {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.modal-checkbox-icon-span {
  display: inline-flex;
  min-width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  align-items: center;
  justify-content: center;
  margin-right: 7.5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.modal-checkbox-input:checked
  + .modal-checkbox-label
  .modal-checkbox-icon-span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-checkbox-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #8e8f99;
  letter-spacing: 0.04em;
}
.modal-checkbox-link {
  line-height: 1.33;
  color: #4d5ae5;
  text-decoration: underline;
  font-size: 12px;
  display: inline;
}
.modal-button {
  font-family: "Roboto", sans-serif;
  display: block;
  border: none;
  border-radius: 4px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  min-width: 169px;
}

.modal-button:hover {
  background-color: #404bbf;
}

/* #endregion modal */

/* #region burger */

.burger-button {
  display: none;
}

.burger-menu-modal {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 72px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu-modal.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.burger-exit-container {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 24px;
  padding: 0;
  cursor: pointer;
}

.burger-exit-container:hover,
.burger-exit-container:focus {
  background-color: #404bbf;
  border: none;
}
.burger-exit-container:hover .modal-exit-icon,
.burger-exit-container:focus .modal-exit-icon {
  fill: #ffffff;
}

.burger-menu-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.burger-menu-item-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu-item-link:hover,
.burger-menu-item-link:focus {
  color: #404bbf;
}

.burger-menu-address-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.burger-menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu-address-link:hover,
.burger-menu-address-link:focus {
  color: #4d5ae5;
}

.burger-social-list {
  display: flex;
  justify-content: space-between;
}

/* #endregion burger */

/* #region mobile-media */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .burger-menu {
    display: block;
    fill: #2f2f37;
    stroke: #2f2f37;
  }

  .burger-button {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .section-first {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/mobile/background-mob-2x.jpg");
  }
}

/* #endregion mobile-media */

/* #region tablet-adaptive */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* #region tablet-header */

  .nav {
    gap: 120px;
    margin-right: 121px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .list-items {
    display: block;
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-items.first {
    color: #404bbf;
  }

  .list-items.first::after {
    position: absolute;
    width: 100%;
    content: "";
    display: block;
    border-radius: 2px;
    height: 4px;
    background: #404bbf;
    bottom: -1px;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 16px 0;
  }

  .list-items-contacts {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-style: normal;
  }

  .list-items-contacts:hover,
  .list-items-contacts:focus {
    color: #404bbf;
  }

  .list-items:hover,
  .list-items:focus {
    color: #404bbf;
  }

  /* #endregion tablet-header */

  /* #region tablet-section-first */

  .section-first {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet/background-tab.jpg");
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-first {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/tablet/background-tab-2x.jpg");
    }
  }

  .main-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }

  /* #endregion tablet-section-first */

  /* #region tablet-section-second */

  .section-second-list {
    column-gap: 24px;
  }

  .section-second-items {
    width: calc((100% - 24px) / 2);
  }

  .title-third {
    text-align: start;
  }

  /* #endregion tablet-section-second */

  /* #region tablet-section-third */

  .section-third > .container {
    padding: 0 108px;
  }

  .section-list {
    gap: 64px 24px;
  }

  .section-third-items {
    width: calc((100%-24px) / 2);
  }

  /* #endregion tablet-section-third */

  /* #region tablet-section-fourth */

  .section-list-fourth {
    column-gap: 24px;
    row-gap: 72px;
  }

  .section-fourth-items {
    width: calc((100% - 24px) / 2);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section-fourth-items:hover,
  .section-fourth-items:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  /* #endregion tablet-section-fourth */

  /* #region tablet-footer */

  .footer > .container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 584px;
    column-gap: 24px;
  }

  .container-in-footer-first {
    text-align: start;
    min-width: 264px;
    margin: 0;
  }

  .container-in-footer-second {
    align-items: flex-start;
    text-align: start;
  }

  .footer-subscribe-div {
    align-items: flex-start;
  }

  .footer-subscribe-elements-form {
    row-gap: 24px;
  }
  .footer-subscribe-input {
    min-width: 264px;
  }

  .footer-subscribe-elements-form {
    flex-direction: row;
    column-gap: 24px;
  }

  /* #endregion tablet-footer */

  /* #region tablet-modal */

  .modal {
    min-width: 408px;
    min-height: 584px;
    padding-left: 24px;
    padding-right: 24px;
  }

  /* #endregion tablet-modal */
}

/* #endregion tablet-adaptive */

/* #region desktop-adaptive */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  /* #region desktop-header */

  .nav {
    gap: 76px;
    margin: 0;
    margin-right: 332px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
    padding: 24px 0;
  }

  .list-items-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* #endregion desktop-header */

  /* #region desktop-section-first */

  .section-first {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/desktop/background-desk.jpg");
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-first {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/desktop/background-desk-2x.jpg");
    }
  }

  .main-title {
    margin-bottom: 48px;
    min-width: 496px;
  }

  /* #endregion desktop-section-first */

  /* #region desktop-section-second */

  .section-second {
    padding: 120px 0;
  }

  .section-second-list {
    flex-wrap: nowrap;
  }

  .section-second-items {
    width: calc((100%-72px) / 4);
  }

  .title-third {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .items-text {
    font-weight: 400;
  }

  .section-second-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  /* #endregion desktop-section-second */

  /* #region desktop-section-third */

  .section-third {
    padding: 120px 0;
  }

  .section-third > .container {
    padding: 0 15px;
  }

  .section-list {
    gap: 24px;
  }

  .section-third-items {
    width: calc((100%-72px) / 4);
  }

  /* #endregion desktop-section-third */

  /* #region desktop-section-fourth */

  .section-fourth {
    padding: 120px 0;
  }

  .section-list-fourth {
    row-gap: 40px;
  }

  .section-fourth-items {
    width: calc((100% - 48px) / 3);
  }

  /* #endregion desktop-section-fourth */

  /* #region desktop-footer */

  .footer {
    padding: 100px 0;
  }

  .footer > .container {
    padding: 0 15px;
    gap: 0;
    flex-wrap: nowrap;
  }

  .container-in-footer-first {
    width: auto;
    margin-right: 120px;
  }

  .footer-subscribe-div {
    margin-left: 80px;
    gap: 0;
  }
  .footer-subscribe-text {
    margin-bottom: 16px;
  }

  /* #endregion desktop-footer */
}

/* #endregion desktop-adaptive */
